node_modules/
dist/
build/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# Env
.env
.env.local
.env.*.local

# Package managers
/.pnp
.pnp.js

# Caches
/.cache/
/.parcel-cache/
/.eslintcache